<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-large="5" size-xs="12">
            <div text-center>
              <h4>Registration Form</h4>
            </div>
            <div padding>
              <ion-item>
                <ion-input type="text" placeholder="User Name" [(ngModel)]="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password" placeholder="Confirm password" [(ngModel)]="cpassword"></ion-input>
                </ion-item>
            </div>
            <div text-center padding>
                <ion-item lines="none">
                   Already a member ? <a routerLink="/login">Login</a>
                  </ion-item>
              <ion-button size="large" href="#" expand="block" (click)="register()">Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
